#globalnav {
	margin-bottom: 2em;
}

.btn-group-vertical{
	margin:auto;
	text-align: center;	
}

.thing{
	margin-bottom: 50px;
	width:100%;
	margin:auto;
	text-align: center;
}

#sparql {
	height: 15rem;	
}

.collapse:(.show) {
    display: block;
}


.select_Timeline, .select_gchart, .select_pivot, .select_rawResponse, .select_table{
	 cursor: not-allowed;
     pointer-events: none;
}