#globalnav {
	margin-bottom: 2em;
}

.btn-group-vertical{
	margin:auto;
	text-align: center;	
}

.thing{
	margin-bottom: 50px;
	width:100%;
	margin:auto;
	text-align: center;
}

#sparql {
	height: 15rem;	
}

.collapse:(.show) {
    display: block;
}

footer {
	font-size: 0.8em;
	padding-top:2em;
	padding-bottom:2em;
	color:#B0B0B0;
	text-align: center;
}

/** Source selection page **/

#sourcesList {
}

.sourceCard {
	margin: 1em;
}

.keyword-badge, .spatial-badge {
	cursor:pointer;
	font-size:100%;
	font-weight: normal;
}

.badge-disabled {
	background-color: rgb(233, 233, 233);
	color: #b6b9bb;
}

.sourceCardHeader-selected {
	background-color: #fff2ee;
	color: black;
}

.inline-list {
  padding-left: 0px;
  display: inline;
  list-style: none;
}

.inline-list li {
  display: inline;
}

.inline-list li:after {
  content: ", ";
}

.inline-list li:last-child:after {
  content: "";
}

#keywordsFacet, #spatialFacet {
	line-height: 200%;
}

/** Explorer page **/

#sparnatural-container {
	margin-top: 1em;
	margin-bottom: 2em;
}
#sparnatural-control {
	margin-top: 0.5em;
}
#view {
	margin-top:0.3em;
}

#expandedQueryContainer {
	padding-bottom:2em;
}

#sparqlResultLabel {
	width: 100%;
}

/* fix display problems in datatable search header */
input[type="search"] { width: auto; }
.yasr .dataTables_wrapper .dataTables_filter {white-space: nowrap;}