#globalnav {
	margin-bottom: 2em;
}

.btn-group-vertical{
	margin:auto;
	text-align: center;	
}

.thing{
	margin-bottom: 50px;
	width:100%;
	margin:auto;
	text-align: center;
}

#sparql {
	height: 15rem;	
}

.collapse:(.show) {
    display: block;
}

footer {
	font-size: 0.8em;
	padding-top:2em;
	padding-bottom:2em;
	color:#B0B0B0;
	text-align: center;
}

#sourcesList {
	margin-top:2em;
}

.sourceCard {
	margin: 1em;
}

.sourceCardHeader-hovered {
	background-color: #fbb03c;
}

.sourceCardHeader-selected {
	background-color: #f15c26;
	color: black;
}

#simsemsearch-container {
	margin-top: 1em;
	margin-bottom: 2em;
}
#simsemsearch-control {
	margin-top: 0.5em;
}
#view {
	margin-top:0.3em;
}

#expandedQueryContainer {
	padding-bottom:2em;
}

#sparqlResultLabel {
	width: 100%;
}

/* fix display problems in datatable search header */
input[type="search"] { width: auto; }
.yasr .dataTables_wrapper .dataTables_filter {white-space: nowrap;}