<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">


	<import resource="lucene-index-config.xml" />

	<!-- ***** Basic application bootstraping ***** -->
	<import resource="security.xml" />

	<context:component-scan base-package="fr.humanum.openarchaeo" />

	<!-- Maps /** to the DefaultServletHandler -->
	<mvc:default-servlet-handler />

	<mvc:annotation-driven />
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>
	
	<!-- / Basic application bootstraping -->

	<!-- Maps the resources URL to a physical directory so that we can easily 
		change 'themes' -->
	<mvc:resources mapping="/resources/**" location="/theme-default/" />
	
	<!-- ***** Application Config ***** -->
	
	<mvc:interceptors>
        <mvc:interceptor>
        	<mvc:mapping path="/admin*" />
        	<mvc:exclude-mapping path="/home" />
        	<bean class="fr.humanum.openarchaeo.federation.admin.SessionInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
	
	<bean class="fr.humanum.openarchaeo.federation.admin.SessionManager">
	</bean>
	
	<bean class="fr.humanum.openarchaeo.federation.period.PeriodoPeriodService" id="periodService">
		<constructor-arg name="periodoFile" value="#{extConfigService.periodoFile}" />
	</bean>
	
</beans>