#main-container {
	margin-top: 2em;
}


.sourceUri {
	font-size: 90%;
	color:#888a85;
	font-style: italic;
}

.left-pane-card {
	margin-bottom: 1em;
}

.adminCard {
	margin-top: 1.5em;
}

footer {
	font-size: 0.8em;
	padding-top:2em;
	padding-bottom:2em;
	color:#B0B0B0;
	text-align: center;
}

/* fix display problems in datatable search header */
input[type="search"] { width: auto; }
.yasr .dataTables_wrapper .dataTables_filter {white-space: nowrap;}